<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= compName %></title>
</head>
<body>

  <nav>
    <ul>
        
      <li><a href="/">home</a></li>
    </ul>
  </nav>
    <h1><%= compName  %></h1>
    
    

    <% let rbr_kolo = 0  %>
    <% for(round of rounds) { %>
        <% if(round.redni_broj != rbr_kolo) {%>
            <hr>
            <p><%= round.redni_broj  %>. kolo</p>
            
        <% } %>
        
        <% if(canEditScores && round.domacin != "-" && round.gost != "-") { %>

            <form action="<%=round.poveznica %>" method="POST">
                <!-- Input field for home team's score -->
                <label for="homeScore"><%= round.domacin  %></label>
                <input type="number" id="homeScore" name="homeScore"  required  value="<%=round.rezultat_domacin != -1 ? round.rezultat_domacin : '' %>">
              
                <!-- Input field for away team's score -->
                <label for="awayScore"><%= round.gost %></label>
                <input type="number" id="awayScore" name="awayScore"  required value="<%=round.rezultat_gost != -1 ? round.rezultat_gost : '' %>">
              
                <!-- Hidden input field for team ID -->
                <input type="hidden" id="matchId" name="matchId" value="<%= round.id_susret  %>">
                
                <!-- Submit button to send the form data -->
                <button type="submit">Submit</button>
              </form>
        
        <% } else {%> 
            <% if(!round.odigran) { %>
            <p> <%=   " " + round.domacin + " "+ round.gost %></p>        
            <% } else { %>
            <p> <%=     round.domacin +" " + round.rezultat_domacin  + " : "  + round.rezultat_gost + " " +round.gost %></p>        

            <% }  %>
        <% } %>
        <% rbr_kolo = round.redni_broj %>
    <% } %> 

    <hr>
    <h2>Poredak</h2>
    <table>
        <tr>
          <th>Natjecatelj</th>
          <th>Bodovi</th>
        </tr>
        <% for(item of standings) { %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.points %></td>
          </tr>
        <% } %>
      </table>


    

    
</body>
</html>