<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Natjecanja</h1>
    <nav>
        <ul>
            <% if(!isAuthenticated){ %>
                <li><a href="/login/">login</a></li>
            <% }else { %>  
            <li><a href="/logout/">logout</a></li>
            <% } %>
            
        </ul>
    </nav>
    
    <% if(user) { %>
        <div>
            <img src="<%= user.picture  %>" >
            <p><%= user.email %></p>
        </div>
    <% } %>
    <hr>
    <% if(isAuthenticated) {%>
        <h3>Stvori Natjecanje</h3>
        <form action="/" method="POST">
            <label for="competition_name">Naziv Natjecanja:</label>
            <input type="text" id="competition_name" name="competition_name" required><br><br>
    
            <label for="competitors">Popis Natjecatelja (odvojeni točkom zarez ili novim redom):</label>
            <textarea id="competitors" name="competitors" rows="4" cols="50" required></textarea><br><br>
    
            <label for="scoring_system">Sustav Bodovanja:</label>
            <select id="scoring_system" name="scoring_system" required>
                <option value="3/1/0">3/1/0 </option>
                <option value="1/0.5/0">1/0.5/0</option>
                <option value="2/0/1">2/0/1 </option>
                <!-- Dodajte druge moguće sustave bodovanja ovdje -->
            </select><br><br>
    
            <input type="submit" value="Kreiraj Natjecanje">
        </form>
        <hr>
        <h3>Moja Natjecanja</h3> 
     <% } %>   

    
    <ul>
        <% for(comp of my_competitions) { %>
            
            <li>naziv: <%= comp.naziv  %> ,poveznica:   <a href="<%= comp.poveznica %>"> <%= comp.poveznica %></a>    </li>
            
    
        <% } %>  
        
    </ul>
     
    

</body>
</html>